h1, h2, h3, p, ul {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

ul {
 list-style-type: none;
}

/* end css reset */ 

body {
    background-color: #FFDCDC;
}

picture {
    position: absolute; 
    max-width: 100vw;
    max-height: 100vh;
    z-index: 10;
}

main {
    background-color: white;
    width: 70vw;
    height: 40vh;
    border: 5px solid #FCA0A0;
    border-radius: 15px;

    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%);
    z-index: 5;
}

header {
    background-color: #FCA0A0;
}

h1 {
    color: white;
    font-family: "Intel One Mono";
    font-size: "24px";
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

aside { 
    background-color: #FCA0A0; 
    border-radius: 15px; 
    width: 35vw;
    padding: 24px;

    position: absolute;
    top: 50%;
    left: 45%; 
    z-index: 8;
}

@media only screen and (min-width: 650px) {

    main {
        width: 65vw;
        height: 40vh;

        top: 30%;
        left: 45%; 
        z-index: 5;
    }

    h1 {
        padding: 24px;
    }

    aside { 
        width: 25vw;
        padding: 36px 24px;

        position: absolute;
        top: 50%;
        left: 60%; 
        z-index: 8;
    }

}