h1, h2, h3, p, ul {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

ul {
 list-style-type: none;
}

/* end css reset */ 

html {
    background: linear-gradient(135deg, rgba(235, 104, 89, 1) 5%, rgba(253, 162, 107, 1) 56%, rgba(253, 187, 99, 1) 100%);
    height: 100%;
}

header {
    padding: 24px;
}

