body {
    background-color: #FFDCDC; 
    max-width: 70%;
    margin: auto;
}

main {
    background-color: white;
    border-radius: 20px;
}

header {
    padding: 12px;
    text-align: center;
}

h1 {
    font-family: "Lexend";
    font-size: 36px;
    color: #FCA0A0;
}

h2, p {
    margin: 0;
}

h2 {
    font-family: "Afacad";
    font-size: 24px;
    padding: 12px 24px;
    color: #FCA0A0;
}

p {
    font-family: "Afacad";
    font-size: 20px;
    padding: 0 24px 12px 24px;
}